@use '@zocom/styles' as *;

.kitchen-order__item {
    background-color: $lightMint;
  
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h3 {
        margin: 0;
        color: #333;
      }
  
      .dotted-line {
        @include dotted-line;
      }
    }
  
    h3 {
      margin: 5px 0;
      color: #555;
    }
  }
  