@use '@zocom/styles' as *;

.menu-item__card {
    background-color: $clay;
    color: $snow;
    padding: $padding;
    border-bottom: 1px dotted $shade24Light;

    .title {
        @include fontsizeLarge;
        text-transform: uppercase;
        @include grid-row;
        align-items: flex-end;
        
        .dotted-line {
            @include dotted-line;
        }
    }

    .ingredients {
        padding-top: $padding-sml;
        padding-bottom: $padding-sml;
    }
}