@use '@zocom/styles' as *;

.landing-page {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/leaf.png');
    background-color: $mint;
    @include column;
    padding: $padding-large;

    .menu-title {
        background-color: $clay;
        @include fontsizeLarge;
        font-weight: 600;
        text-transform: uppercase;
        color: $snow;
        padding: $padding-large $padding 0;
        border-radius: $radius-tier-2 $radius-tier-2 0 0;
    }

    .dip-option__card {
        background-color: $clay;
        color: $snow;
        padding: $padding;
        border-radius: 0 0 $radius-tier-2 $radius-tier-2;

        .title {
            @include fontsizeMedium;
            font-weight: 600;
            text-transform: uppercase;
            @include grid-row;
            align-items: flex-end;
            padding-bottom: $padding-large;

            .dotted-line {
                @include dotted-line;
            }
        }
    }

    .dip-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(30px, auto);
        gap: $gap;
    }
}