@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

:root {
    font-family: 'Fira Sans', sans-serif;
}

$base: 16px;

@mixin fontsizeLarge {
    font-size: calc($base * 1.8);
    line-height: 120%;
}

@mixin fontsizeETA {
    font-size: calc($base * 1.6);
    line-height: 120%;
}

@mixin fontsizeMedium {
    font-size: calc($base * 1.3);
    line-height: 120%;
}

@mixin fontsizeRegular {
    font-size: $base;
    line-height: 140%;
}

@mixin fontsizeSmall {
    font-size: calc($base * .8);
    line-height: 120%;
}

@mixin fontsizeMini {
    font-size: calc($base * .6);
}