@use '@zocom/styles' as *;

.confirmation-page {
    width: 100%;
    height: 100vh;
    background-color: $clay;
    @include column;
    padding: 0 $padding;

    .confirmation-wrap {
        height: 100%;
        @include mobile-width-default;
        text-align: center;
        @include column-no-center;
        
        .title {
            @include fontsizeLarge;
            font-weight: 700;
            text-transform: uppercase;
            color: $snow; 
            padding: $padding;
        }
    
        .eta-text {
            @include fontsizeETA;
            font-weight: 500;
            color: $snow;
            text-transform: uppercase;
        }
    
        .order-id {
            @include fontsizeRegular;
            color: $snow;
            text-transform: uppercase;
            padding: $padding;
        }

        .button__container {
            margin-top: auto;
        }
    }
}

 