@use '@zocom/styles' as *;

.confirmation-page {
    width: 100%;
    height: 100vh;
    background-color: $clay;
    @include column;
    padding: 0 $padding;
}

    .menu-wrap {
        width: 326px;
        max-width: 390px;
        text-align: center;
    }

        .menu-title {
            background-color: $clay;
            width: 326px;
            @include fontsizeLarge;
            font-weight: 700;
            text-transform: uppercase;
            color: $snow; 
            padding-bottom: $padding;
        }

        .eta-timer {
            font-weight: 500;
            color: $snow;
            @include fontsizeMedium;
            padding-bottom: 100px;
        }


        .action {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

         .order, .receipt {
            color: $snow;
            padding: $padding;
            @include fontsizeMedium;
            border-radius: 4px;
            text-decoration: none;
            margin-bottom: 20px; // Adjusted margin for a gap
        }
        
        .order {
            background-color: $coal;
            width: 90%;
        }
        .receipt {
            border: 2px solid $snow;
            width: 90%;
        }
 